<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.urms.mapper.RoleMenuMapper">
    <resultMap id="baseMap" type="com.urms.entity.RoleMenu">
        <id column="ROLE_MENU_ID" jdbcType="NUMERIC" property="roleMenuId" />
        <result column="ROLE_ID" jdbcType="NUMERIC" property="roleId" />
        <result column="MENU_ID" jdbcType="NUMERIC" property="menuId" />
    </resultMap>
    <sql id="baseSql">
        ROLE_MENU_ID, ROLE_ID, MENU_ID
    </sql>
    <select id="selectByRoleMenuId" resultMap="baseMap" parameterType="java.lang.Integer">
        select
        <include refid="baseSql" />
        from TB_ROLE_MENU
        where ROLE_MENU_ID = #{roleMenuId,jdbcType=NUMERIC}
    </select>
    <select id="getRoleMenusByRoleId" parameterType="java.lang.Integer" resultMap="baseMap">
        select
        <include refid="baseSql" />
        from TB_ROLE_MENU
        where ROLE_ID = #{roleId,jdbcType=NUMERIC}
    </select>

    <insert id="insertRoleMenu" parameterType="com.urms.entity.RoleMenu">
        insert into TB_ROLE_MENU
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleMenuId != null">
                ROLE_MENU_ID,
            </if>
            <if test="roleId != null">
                ROLE_ID,
            </if>
            <if test="menuId != null">
                MENU_ID,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="roleMenuId != null">
                #{roleMenuId,jdbcType=NUMERIC},
            </if>
            <if test="roleId != null">
                #{roleId,jdbcType=NUMERIC},
            </if>
            <if test="menuId != null">
                #{menuId,jdbcType=NUMERIC},
            </if>
        </trim>
    </insert>
    <delete id="deleteRoleMenuById" parameterType="java.lang.Integer">
        delete from TB_ROLE_MENU
        where ROLE_MENU_ID = #{roleMenuId,jdbcType=NUMERIC}
    </delete>


</mapper>
